In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import pickle
import warnings
warnings.filterwarnings('ignore')

In [16]:
data=pd.read_csv('completedata_capstone1.csv')
data.head()

,STATE/UT_code,Population,Literacy,Area(Km2),MURDER,ATTEMPT TO MURDER,CULPABLE HOMICIDE,RAPE,OTHER RAPE,KIDNAPPING & ABDUCTION,...,TOTAL-OTHER PLACES,TOTAL - Dacoity,TOTAL - Robbery,TOTAL - Burglary,TOTAL - Theft,Police_Injured_Total_Policemen,Police_Killed_Total_Policemen,Cases_Property_Recovered,Cases_Property_Stolen,Cases_Registered_under_Human_Rights_Violations
0,1,199812341,67.68,240928.0,130886,121040,34532,38116,38112,118532,...,144512,4809,30767,65587,312047,2318,2150,194531,672276,108
1,2,112374333,82.34,307713.0,65534,41178,2818,35972,35968,30202,...,432899,8175,37719,185617,556807,11746,1824,515253,1535782,90
2,3,104099452,61.80,94163.0,82490,81838,7344,26248,26244,74440,...,70930,11099,23666,40293,153372,624,462,67602,437835,52
3,4,91276115,76.26,88752.0,42112,29386,12666,41574,41574,51998,...,103064,2642,7354,5500,190468,7508,402,92953,405243,28
4,5,84580777,67.02,275045.0,63512,44840,3526,26958,26954,42478,...,159432,1987,7605,97336,287190,3780,998,365664,707653,226

In [17]:
from sklearn.cluster import KMeans

In [18]:
#fit kmean into dataset
kmeans=KMeans(n_clusters=3,random_state=54)
y_kmeans=kmeans.fit_predict(data)
print(y_kmeans)

[2 0 0 0 0 0 0 0 0 0 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1]

In [19]:
from sklearn.metrics import silhouette_score

In [20]:
silhouette_score(data,y_kmeans)

0.7164100855418194

In [23]:
cluster_1=data[y_kmeans==0]
print(cluster_1)

   STATE/UT_code  Population  Literacy  Area(Km2)  MURDER  ATTEMPT TO MURDER  \
1              2   112374333     82.34   307713.0   65534              41178
2              3   104099452     61.80    94163.0   82490              81838
3              4    91276115     76.26    88752.0   42112              29386
4              5    84580777     67.02   275045.0   63512              44840
5              6    72626809     69.32   308252.0   56798              58916
6              7    72147030     80.09   130060.0   40254              53194
7              8    68548437     66.11   342239.0   31688              42684
8              9    61095297     75.36   191791.0   39874              37024
9             10    60439692     78.03   196244.0   27550              12224

   CULPABLE HOMICIDE    RAPE  OTHER RAPE  KIDNAPPING & ABDUCTION  ...  \
1                2818  35972       35968                   30202  ...
2                7344  26248       26244                   74440  ...
3               12666  41574       41574                   51998  ...
4                3526  26958       26954                   42478  ...
5                3668  72174       72172                   23916  ...
6                 686  13904       13900                   30606  ...
7                1778  31596       31596                   61454  ...
8                1714  10348       10344                   20058  ...
9                 860   8498        8498                   30492  ...

   TOTAL-OTHER PLACES  TOTAL - Dacoity  TOTAL - Robbery  TOTAL - Burglary  \
1              432899             8175            37719            185617
2               70930            11099            23666             40293
3              103064             2642             7354              5500
4              159432             1987             7605             97336
5              157339             1655            22314            137346
6              123343             1237            11272             53339
7              199498              563             9071             65268
8              146518             2581            17287             73298
9              155715             3842            14383             60689

   TOTAL - Theft  Police_Injured_Total_Policemen  \
1         556807                           11746
2         153372                             624
3         190468                            7508
4         287190                            3780
5         263860                            3780
6         185160                            3670
7         232974                            5094
8         199960                            4386
9         213207                            2174

   Police_Killed_Total_Policemen  Cases_Property_Recovered  \
1                           1824                    515253
2                            462                     67602
3                            402                     92953
4                            998                    365664
5                            620                    278003
6                            988                    374758
7                            800                    159169
8                            402                    181709
9                           1030                    189343

   Cases_Property_Stolen  Cases_Registered_under_Human_Rights_Violations
1                1535782                                              90
2                 437835                                              52
3                 405243                                              28
4                 707653                                             226
5                 819819                                              16
6                 476573                                              22
7                 557767                                              16
8                 570524                                              74
9                 622993                                             226

[9 rows x 52 columns]

In [24]:
cluster_2=data[y_kmeans==1]
print(cluster_2)

    STATE/UT_code  Population  Literacy  Area(Km2)  MURDER  ATTEMPT TO MURDER  \
10             11    41974218     72.87   155707.0   28906              31304
11             12    33406061     94.00    38852.0    9466              10654
12             13    32988134     66.41    79716.0   38120              24540
13             14    31205576     72.19    78438.0   30864              11324
14             15    27743338     75.84    50362.0   18986              20794
15             16    25545198     70.28   135192.0   24120              15820
16             17    25351462     75.55    44212.0   20942              14868
17             18    16787941     86.21     1483.0   12410              10554
18             19    12541302     67.16   222236.0   12608              20606
19             20    10086292     78.82    53483.0    5896               5254
20             21     6864602     82.80    55673.0    2908               1670
21             22     3673917     87.22    10486.0    4044               1362
22             23     2966889     74.43    22429.0    3460               1202
23             24     2855794     76.94    22327.0    3910               7072
24             25     1978502     79.55    16579.0    2076                928
25             26     1458545     88.70     3702.0     974                538
26             27     1383727     65.38    83743.0    1682                834
27             28     1247953     85.85      490.0     714                686
28             29     1097206     91.33    21081.0     806                516
29             30     1055450     86.05      114.0     486                602
30             31      610577     81.42     7096.0     332                222
31             32      380581     86.63     8249.0     320                130
32             33      343709     76.24      491.0     216                 62
33             34      243247     87.10      111.0     136                 76
34             35       64473     91.85       30.0       6                 12

    CULPABLE HOMICIDE    RAPE  OTHER RAPE  KIDNAPPING & ABDUCTION  ...  \
10                1396  22860       22860                   19458  ...
11                3794  14894       14894                    5782  ...
12                2462  18318       18308                   16952  ...
13                1436  32356       32346                   55878  ...
14                3116  10918       10916                   15238  ...
15                 696  23676       23676                    6690  ...
16                1714  12820       12818                   17312  ...
17                1766  12848       12848                   50166  ...
18                 694   5620        5620                   19330  ...
19                1028   2756        2756                    5704  ...
20                 260   3608        3608                    3596  ...
21                  38   4116        4116                    2886  ...
22                 168   2040        2040                    1458  ...
23                  84    774         774                    3622  ...
24                 202    440         440                     784  ...
25                 134    700         700                     472  ...
26                  72   1000        1000                    1714  ...
27                 156    154         154                     338  ...
28                 134   1652        1650                     192  ...
29                 158    562         562                    1280  ...
30                  76    390         390                     152  ...
31                  42    218         218                     188  ...
32                   6    112         112                     282  ...
33                   4     40          40                      62  ...
34                   0     14          14                       2  ...

    TOTAL-OTHER PLACES  TOTAL - Dacoity  TOTAL - Robbery  TOTAL - Burglary  \
10               55758             1364             8329             46371
11               26417             5906             8711             16680
12               48011             4170             7467             34752
13               34985              460             1828             27621
14               47397             1468             5113             44656
15               79373             1375             5871             46504
16              155185              381             6461             23555
17               20838              188             1312             17050
18               13088              357             1990              5578
19               10243               45              236              9689
20                1991              197              721              2212
21                4421              798              972              1888
22                2837               48               83               755
23                1928              125             1042              1146
24                6650               55              298              3700
25                3192              260              843              2780
26                6193               38               89              1064
27                4246               45              114              4748
28                7755               31              397              2947
29                 582                6               64               877
30                 338               40               30               388
31                 542               36               27               525
32                  42                3                0                36
33                 935               15               74               892
34               59335             3381            14705             36505

    TOTAL - Theft  Police_Injured_Total_Policemen  \
10          62353                            8668
11          71322                             534
12          85475                             464
13          50503                             614
14          62873                             842
15         131394                             552
16         231546                            2266
17          25767                           10462
18          20035                             182
19           9658                             254
20           4353                             328
21           6004                             200
22           4834                              86
23           3802                              10
24           8045                             354
25           5178                              80
26           7366                             294
27           9803                              10
28          18474                             566
29           1019                               6
30            773                              22
31            613                               0
32            113                               0
33           1124                               0
34          82837                            1158

    Police_Killed_Total_Policemen  Cases_Property_Recovered  \
10                            122                     81294
11                            658                     38247
12                            286                     58574
13                           1844                     94791
14                            852                     75361
15                            718                    160311
16                            378                    185183
17                           1142                     25424
18                            186                     16353
19                             66                     11503
20                            294                      3558
21                             70                      4286
22                             96                       785
23                             10                      3229
24                              4                      6706
25                              2                      6404
26                              2                      8798
27                             38                     19371
28                             42                     18449
29                             26                      1068
30                             10                      1584
31                              0                      1281
32                              0                       651
33                              0                       115
34                            232                    109710

    Cases_Property_Stolen  Cases_Registered_under_Human_Rights_Violations
10                 246847                                               0
11                 192610                                              16
12                 260312                                               6
13                 175301                                             302
14                 218707                                              22
15                 380353                                             624
16                 635795                                              22
17                  84564                                              24
18                  48127                                              36
19                  37781                                               2
20                  15025                                               0
21                  18543                                               0
22                  13572                                               0
23                  13639                                               6
24                  22274                                               0
25                  17536                                               6
26                  17909                                              40
27                  27498                                               2
28                  50266                                               0
29                   3441                                               2
30                   3753                                               0
31                   2935                                              62
32                   2386                                               0
33                    383                                               0
34                 242469                                               0

[25 rows x 52 columns]

In [25]:
cluster_3=data[y_kmeans==2]
print(cluster_3)

   STATE/UT_code  Population  Literacy  Area(Km2)  MURDER  ATTEMPT TO MURDER  \
0              1   199812341     67.68   240928.0  130886             121040

   CULPABLE HOMICIDE    RAPE  OTHER RAPE  KIDNAPPING & ABDUCTION  ...  \
0               34532  38116       38112                  118532  ...

   TOTAL-OTHER PLACES  TOTAL - Dacoity  TOTAL - Robbery  TOTAL - Burglary  \
0              144512             4809            30767             65587

   TOTAL - Theft  Police_Injured_Total_Policemen  \
0         312047                            2318

   Police_Killed_Total_Policemen  Cases_Property_Recovered  \
0                           2150                    194531

   Cases_Property_Stolen  Cases_Registered_under_Human_Rights_Violations
0                 672276                                             108

[1 rows x 52 columns]

ABOUT CAPSTONE PROJECT

This project has been built to analysis the crime rate in different part of india.this dataset donot contain any label so in this clustering based algorithm Kmean is used.

DATASET:- data for this project was provided by data trained team and some data has been taken from goverment websites to complete the project.data set contain different type of crimes that are done inour society and in different part of india.data is also given for different place of occurence that is rate of crime held at different places like residentail place ,banks, near sea and water,commercial place and other places.

In this project data has been analysed for every data set provide by data trained.following analysis has been done

state which are highly populated have high rate of crime.mainly UP,maharastra,MP,AP,Rajasthan and other.

northeast state except in some cases assam and UT except delhi have very less rate of crime.in many observations these ut and states are showing almost negiliable.

when data is observed year by year wise it can be infered that year by year from 2001 to 2010 crime is increasing .it is showing positive trend in the graph.

Crime also depend on literacy rate,generally state having high literacy rate there crime is low except kerala there literacy rate is good but crime rate is also high.

crime against sc -it can be observed that maximum cases of crime against sc can be observed in UP followed by rajasthan,andhra pradesh and madhya pradesh.

crime against st-Major state for crime against st are MP,rajasthan,andhra pradesh,chattisgarh,odisha.it can also be analysed that state having low population have less number of crime against st

CRIME AGAINST CHILDREN-offence against children can be majorly seen in madhya pradesh,rajasthan,andhra padesh,odisha,chattisgarh.it can also observed from scatterplot that low populated state have low crime against children.

CRIME AGAINST WOMEN-major state for crime against women are UP,Maharastra,west bengal,andhra pradesh,madhya pradesh.state with high population are showing more crime against women and state with less population are showing low crime rate.here kerala is exception as it is low population but accordingly crime is high

PROPERTY STOLEN CRIME-property stolen cases are very less in north east state,union territory and in hilly states.maximum case of stolen is in maharastra than MP, at third it is andra pradesh irrespective to population

when crime rate is analysed near sea and water many UT and north east state are also showing some value in crime rate.these are dadra and nighar haveli,andamon and nicobar,mizoram,goa.highest is showing for maharastra

Crimes on Highway are mainly done in uttar pradesh and some are observed in bihar.

when we observe data for place of occurance data can be infered as follow

banking:-major part of crime done at bank is in MAHARASTRA followed by karnataka.

railway :- major portion of crime done in rail or in railway premises is maharastra,uttar pradesh and MP.

for residentail place:- mainly crime rate is high in following states maharastra,uttar pradesh,andhra pradesh and madhya pradesh.rest state also contribute some parts

At commercial place-uttar pradesh is showing low crime rate than other state when we consider its population.maharastra is showing maximum crime rate.rest state are also showing some crime rate.

when analysis is done by type of crime following observations are done

Dacoity- maximum dacoity cases can be seen in bihar followed by maharastra than uttar pradesh and jharkand. other state also shows some trend for this type of crime.

Robbery-In case of robbery north east state and union territory are showing least cases,maximum cases of robbery can be seen in maharastra and at second UP and than bihar.

Burglary-union territory and north east state are showing least crime of burglury and maharastra is showing maximum,after that MP,AP,KARNATAKA,UP

Theft-when it is observed total theft maharastra is showing max value for total theft and at second UP.islands of india and sikkam  in graph show almost null theft.

Police killed or injured on duty-observation for this type of crime donot following population trend.it is observed that maximum cases are in maharastra and than jammu and kashmir is also showing large no of cases.west bengal and kerala is also showing large cases of policeman injured and death.

juvenile_apprehended-it can be observed that MP and maharastra are having all number of boys those who have been apprehended,we can also observed highly populated UP is showing very less counts and west bengal is also showing lesser number according to its population.same pattern can be observed for girls count also except in this case only gujrat is showing some numbers which is considerable.rest state are showing low apprehendtion

From overll juvenile apprehend we can conclude that alone maharastra and MP is showing half count.rest some other state are also showing the count which can be considered that are rajasthan,gujrat,chattisgarh,andhra pradesh and other

Human right violation-it can be concluded that chattisgarh alone have larger number of cases registered under human violation after that gujrat, andhra pradesh,assam.rest state are very few in numbers

policeman convicted-it can be observed that 70 to 75 % police man is found convicted in state of chattisgarh,nearly 15 to 20 % in bihar.rest in other states

THESE POINTS WERE ANALYSED WITH THE HELP OF VISUALIZATION 
catplot,bar plot ,scatterplot and pie chart were ploted for observing the data and analysing the data. data set for building the model was takem from the data set used for analysing the data.

After analysis part was done SQL query phrases 3 is completed and model is builded in the same juypter notebook.